@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  background-color: rgb(38 38 38);
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


/* Shadows */
 
.shadow-basic {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


/* Fonts */

.dark-bg {
  background-color: rgb(38 38 38);
}

.transparent-bg {
  background-color: transparent;
}

.inter-400 {
  font-family: "Inter";
  font-weight: 400;
}

.inter-500 {
  font-family: "Inter";
  font-weight: 500;
}

.inter-600 {
  font-family: "Inter";
  font-weight: 600;
}

.inter-700 {
  font-family: "Inter";
  font-weight: 700;
}

.inter-800 {
  font-family: "Inter";
  font-weight: 800;
}

.blur-b {
  backdrop-filter: blur(10px);
}

@layer components {
  .dashboard-container {
    @apply shadow-basic rounded-lg bg-neutral-900 inter-500 text-white p-4 md:w-[40rem] mb-10;
  }

  .btn-icon {
    @apply w-4 h-4 mr-2;
  }

  .nav-btn {
    @apply shadow-sm w-[100%] mb-2 md:mb-0 md:w-auto hover:shadow-neutral-800 px-3 py-1.5 rounded-lg flex items-center transition-all;
  }
}